* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}
p {
    margin: 0;
}
.btneffect {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    margin-top: 3px;
}